.popup__input {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 6px;
  /* margin-bottom: 31px; */
}

.popup__input:last-of-type {
  /* margin-bottom: 51px; */
}

@media screen and (max-width: 768px) {
  .popup__input:last-of-type {
    margin-bottom: 45px;
  }
}
