.profile__add-button {
  width: 150px;
  height: 50px;
  background-image: url(../../../images/profile__add-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding: 0;
  align-self: center;
  justify-self: flex-end;
  cursor: pointer;
}
